<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>City news</title>
</head>
<body>
	<header>
		<h1>
			<a href="">City portal</a>
		</h1>
	</header>


{{ posts }}

	<section>
		<div>
			<h2><a href="">First post</a></h2>
			<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus praesentium eos molestias, soluta quidem dolorem enim animi dolores deleniti, perspiciatis!</p>
			<p>published: 07.05.2021, 10:20</p>
		</div>

		<div>
			<h2><a href="">About portal</a></h2>
			<p>Lorem ipsum dolor sit, amet, consectetur adipisicing elit. Quibusdam, odit amet dolores perspiciatis minima, est illo necessitatibus nihil ea obcaecati quia, eius voluptates magni, pariatur.</p>
			<p>published: 08.05.2021, 10:40</p>
		</div>

	</section>

</body>
</html>